.display{
    margin: 10px;
    height: 80px;
    width: 262px;
    padding-right: 10px;
    border: none;
    background-color: rgba(37, 66, 128, 0.751);
    color: white;
    border-top-left-radius: 60px;
    border-top-right-radius: 5px;
    box-shadow: 1px 1px 3px rgb(74, 73, 73);
    letter-spacing: 2px;
    outline: none;
    text-align: right;
    &::placeholder{
        color: white;
    }
    }
