.calculator{
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    font-weight: 900;
  
}
body{
    background-color: rgb(84, 84, 84);
}


